body{
    background-color: #32b992;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#clock{
    text-align: center;
    margin-top: 100px;
}
#clock{
    font-size: 60px;
    color: #b71818;
    background-color: #000000;
    display: inline-block;
    padding: 20px 40px;
    padding: 150px 60px;
    margin-left: 35%;
    border-radius: 70% ;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#date{
    font-size: 24px;
    color: #666;
    margin-top: 10px;
}
#am-pm{
    font-size: 24px;
    vertical-align: super;
    margin-left: 5px;
    color: #666;
}
